@model EmployeeProfileViewModel

@{
    ViewData["Title"] = "Employee Profile";
}

<div class="col-md-4 col-lg-3">
    <section class="panel">
        <div class="panel-body">
            <div class="thumb-info mb-md">
                <img src="@Model.EmployeeImage" class="rounded img-responsive" alt="@Model.EmployeeCard.Full_Name" />
            </div>
        </div>
    </section>
</div>

<div class="col-md-8 col-lg-9">
    <div class="tabs">
        <ul class="nav nav-tabs tabs-primary">
            <li class="active">
                <a href="#Profile" data-toggle="tab">Profile</a>
            </li>
            <li>
                <a href="#LeaveBalance" data-toggle="tab">Leave Balance</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="Profile" class="tab-pane active">
                <partial name="Profile" model="Model.EmployeeCard" />
            </div>

            <div id="LeaveBalance" class="tab-pane">
                <partial name="LeaveBalance" model="Model.LeaveBalances" />
            </div>
        </div>
    </div>
</div>
